<nav class="navbar">
  <a href="#" class="navbar-logo"><i class="material-icons">SpringBoot +</i> Angular</a>
  <ul class="navbar-links">
    <li class="navbar-dropdown">
      <a href="#">Soups</a>
      <!-- <div class="dropdown"> -->
      <!-- <a href="#">Tomato Soup</a> -->
      <!-- </div> -->
    </li>
    <li class="navbar-dropdown">
      <a href="#">Sweets</a>
      <!-- <div class="dropdown"> -->
      <!-- <a href="#">Ladoo</a> -->
      <!-- </div> -->
    </li>
    <li class="navbar-dropdown">
      <a href="#">Breads</a>
      <!-- <div class="dropdown"> -->
      <!-- <a href="#">Lachha Paratha</a> -->
      <!-- </div> -->
    </li>
    <li class="navbar-dropdown">
      <a href="#">購物車</a>
      <!-- <div class="dropdown"> -->
      <!-- <a href="#">Plain Rice</a> -->
      <!-- </div> -->
    </li>
    <li class="navbar-dropdown">
      <a href="#">會員中心</a>
      <div class="dropdown">
        <a href="#">登出</a>
      </div>
    </li>
  </ul>
</nav>
<header class="header">
  <div class="header-inner">
    <h1>Food House</h1>
    <form>
      <input type="search" placeholder="Enter Your Location" />
      <div class="overlay"></div>
    </form>
  </div>
</header>
